<ol class="task-list">
  <h2>Tasks</h2>

  <% @tasks.each do |task| %> <!-- @task provided by TasksController#index-->
    <li><%= link_to task.name, task_path(task.id) %></li>

    <%= link_to "Edit", edit_task_path(task.id)%>
    <%= link_to "Delete", task_path(task.id), method: :delete, data: { confirm: 'Are you sure you want to delete?'}%>
    <%= link_to "Complete", complete_task_path(task.id), method: :complete %>
  <%end%>


</ol>
