<ol class="task-list">
  <h2>Tasks</h2>

  <% @tasks.each do |task| %>
    <li id="task"><%= link_to task.name, task_path(task.id) %></li>

    <%= link_to "Edit", edit_task_path(task.id)%>
    <%= link_to "Delete", task_path(task.id), method: :delete,
    data: { confirm: 'Are you sure you want to delete?'}, class: 'button'%>

    <%= link_to "Complete", task_path(task.id), method: :patch, class: 'button' %>

  <%end%>


</ol>
