/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Nothing+You+Could+Do|Spirax');

html {
  background-color: #E4DFDA;
}
 .wrapper {
   font-family: 'Noto Serif JP', sans-serif;
    display: grid;
    /* grid-gap: 10px; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas:
     "header header header"
     "aside main main"
     "footer footer footer";
 }

header {
  height: 8em;
  grid-area: header;
  padding-top: 2em;
  padding-left: 3em;
}

header h1 {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 3em;
  color: #FFF577;
}

aside {
   grid-area: aside;
}

aside a:link {
    text-decoration: none;
    color: black;

}
aside li:hover {
    color: #F6F740;
}

aside a:visited {
    text-decoration: none;
    color: white;
}

aside ul {
  list-style: none;

}

aside li {
  line-height: 2em;
  border-style: solid;
  border-width: 1px;
  width: 7em;
  text-align: center;
  margin: 0 0 1em 0;
  border-radius: 5px;
  color: white;
}

footer {
   height: 40%;
   grid-area: footer;
   text-align: center;

   color: #FFF577;
   font-family: 'Nothing You Could Do', cursive;
}

main  {
  background-color: #E4DFDA;
  grid-area: main;
}

main a {
}

h2 {
  font-size: 2.5em;
  font-family: 'Nothing You Could Do', cursive;

}

#task {
  font-size: 1.5em;
  font-family: 'Nothing You Could Do', cursive;
  color: black;
}

.task-list {
  text-align: center;
  list-style: none;
  padding-top: 1rem;
  padding-bottom: 5em;
  padding-right: 2em;
  margin-right: 7em;
  margin-left: 7em;
  background-color: white;
  border-radius: 5px;

}

.task-list a {
  text-decoration: none;

}

.task-list a:hover {
  text-decoration: none;
  background-color: #FFF577;

}

.task-list li {
  line-height: 3em;
  list-style: none;
}

.button {
  padding-left: .4em;
  border-left: 2px solid #bbb;
}
