/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header {
  background-color: lightgrey;
}

aside {
  background-color: lightblue;
}

main  {
  background-color: lightgrey;
}

h1 {
  color: white;
}

/* .wrapper {
  width: 60vw;
  height: 90vh;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr 1fr;
}

header {
  background-color: green;
  height: 15vh;
}

main {
  background-color: yellow;
  grid-column: 2;
  grid-row: 2 / 2;
  align-items: center;

}

side {
 grid-column: 2;
 grid-row: 1;
}

.footer {

} */
